<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.carlorodriguez.alarmon"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="1.2.0" android:versionCode="4">

  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
<!-- No need for this, we use intent to call the default camera app <uses-permission android:name="android.permission.CAMERA" />-->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <uses-feature android:name="android.hardware.telephony" android:required="false" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.any" android:required="false" />
  <uses-feature android:name="android.hardware.camera.front" android:required="false" />
  <uses-feature android:name="android.hardware.microphone" android:required="false" />
  <uses-feature android:name="android.hardware.audio.output" android:required="true" />

  <!--<uses-permission android:name="android.permission.INTERNET" />-->

  <!-- This is for debug releases only! -->
  <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission> -->

  <!-- android:debugable for debug release only! -->
  <!-- <application android:icon="@drawable/alarmclock" android:label="@string/app_name" android:debuggable="true"> -->

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true">

    <meta-data android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>

    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="face" />

    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityAlarmClock"
        android:theme="@style/MainAppThemeDark"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <!-- [START deep_link_filter] -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <!-- Accepts URIs that begin with "https://www.kissalarm.app/invite” -->
        <data android:scheme="http"
            android:host="www.kissalarm.app"
            android:pathPrefix="/invite" />
        <data android:scheme="https"
            android:host="www.kissalarm.app"
            android:pathPrefix="/invite" />
      </intent-filter>
      <!-- [START deep_link_filter] -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <!-- Accepts URIs that begin with "kissalarm://invite” -->
        <data android:scheme="kissalarm"
            android:host="invite" />
      </intent-filter>
      <!-- [END deep_link_filter] -->
    </activity>
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityAlarmNotification"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"
        android:excludeFromRecents="true"/>
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityAlarmSettings"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityAppSettings"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityPendingAlarms"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
    <activity
        android:name=".AboutTabbedActivity"
        android:theme="@style/AppThemeDark">
    </activity>
    <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
        android:theme="@style/Base.Theme.AppCompat">
    </activity>
      <activity
          android:name="io.github.carlorodriguez.alarmon.DeepLinkActivity"
          android:label="@string/app_name"
          android:theme="@style/ThemeOverlay.MyDialogActivity">

      </activity>
    <service android:name="io.github.carlorodriguez.alarmon.AlarmClockService"/>
    <service android:name="io.github.carlorodriguez.alarmon.NotificationService"/>
    <receiver android:name="io.github.carlorodriguez.alarmon.ReceiverAlarm"/>
    <receiver android:name="io.github.carlorodriguez.alarmon.ReceiverNotificationRefresh"/>
    <receiver android:name="io.github.carlorodriguez.alarmon.ReceiverDeviceBoot">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <receiver android:name="io.github.carlorodriguez.alarmon.RecevierTimeZoneChange">
      <intent-filter>
        <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
      </intent-filter>
    </receiver>
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:grantUriPermissions="true"
        android:exported="false">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths" />
    </provider>
  </application>

  <queries>
    <intent>
      <action android:name="android.media.action.IMAGE_CAPTURE" />
    </intent>
  </queries>
  <queries>
    <intent>
      <action android:name="android.media.action.VIDEO_CAPTURE" />
    </intent>
  </queries>

</manifest>
